<ul id="logonMenu" class="tabmenu">
@if(Request.IsAuthenticated) 
{    
    <li>@Html.ActionLink(@Resources.Global.logonpartial_logoff, "LogOff", "Account")</li>
}
else
{
    <li>@Html.ActionLink(@Resources.Global.logonpartial_register, "Register", "Account")</li>
    <li>@Html.ActionLink(@Resources.Global.logonpartial_logon, "LogOn", "Account")</li>
}
</ul>