@model Logistikcenter.Web.Models.RouteModel

<script type="text/javascript">

    function toggleTr(tr) {        
        var row = document.getElementById(tr);            
        row.style.display = row.style.display == 'none' ? row.style.display = 'table-row' : row.style.display = 'none';
    }

</script>

<h2>@Model.Origin - @Model.Destination</h2>

<ul>
    <li><label>Antal kollin:</label>@Model.Packages</li>
    <li><label>Kollityp:</label>@Model.PackageType</li>
    <li><label>Vikt/volym:</label>@Model.Volume</li>
    <li><label>Leverans:</label>@Model.DeliveryInformation</li>
</ul>

<table width="100%">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Avgår</th>
            <th>Ankommer</th>
            <th>Frakttid</th>
            <th>Upplysningar</th>
            <th>Pris</th>            
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var route in Model.Routes)
    {
        var row = 0;
        var rowId = "row_" + row;
                  
        <tr>
            <td><a href="#" onclick="toggleTr('@rowId')">Visa</a></td>
            <td>@route.DepartureTime.ToString("yyMMdd HH:mm")</td>
            <td>@route.ArrivalTime.ToString("yyMMdd HH:mm")</td>
            <td>@route.Duration.TotalHours.ToString("00"):@route.Duration.Minutes.ToString("00")</td>
            <td>@route.Information</td>
            <td>@route.Cost</td>

            @{                                 
                var newbooking = new Logistikcenter.Web.Models.NewBookingModel();

                newbooking.AddLegs(route.Legs.Select(l => l.Id).AsEnumerable<long>());
                newbooking.Volume = 0;
                newbooking.NumeberOfPackages = 0;

                string booking = Json.Encode(newbooking);
                var b64 = System.Convert.ToBase64String(System.Text.Encoding.Default.GetBytes(booking));                                                
             }

            <td><a href="/Booking/Create?info=@b64">Boka</a></td>
        </tr>
        <tr id="@rowId" style="display:none">
            <td>&nbsp;</td>
            <td colspan="6">
                <table width="100%">
                    <thead>
                        <tr>
                            <th>Från</th>
                            <th>Avgår</th>
                            <th>Till</th>                            
                            <th>Ankommer</th>
                            <th>Färdmedel</th>                            
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var leg in route.Legs)
                    {
                        <tr>
                            <td>@leg.Origin.Name</td>                             
                            <td>@leg.DepartureTime.ToString("yyMMdd HH:mm")</td>                             
                            <td>@leg.Destination.Name</td>   
                            <td>@leg.ArrivalTime.ToString("yyMMdd HH:mm")</td>
                            <td>@leg.CarrierTypeDisplayName</td>                            
                        </tr>
                    }
                    </tbody>
                </table>                
            </td>            
        </tr>  
        
        row++;      
    }
    </tbody>        
</table>




